################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/ButtonStudy/bin
/ButtonStudy/obj
/WpfMvvmStudy/bin
/WpfMvvmStudy/obj
/IdealAppStudy/bin
/IdealAppStudy/obj
/TextBoxStudy/bin
/TextBoxStudy/obj
/LabelStudy/bin
/LabelStudy/obj
